In [29]:
###########################################################
#                        TAREA 8                          #
#            Willian Andrés Cárdenas Sandoval             #
#              Diego Alejandro Robayo Molina              #
#               Andres Felipe Rache Espitia               #
#              Andrea Catalina Garcia Montoya             #
###########################################################

In [30]:
import os
os.getcwd()

'C:\\Users\\Usuario\\Desktop\\Universidad Nacional\\SEXTO SEMESTRE\\COMPUTACIÓN\\R'

In [5]:
os.chdir("C:\\Users\\Usuario\\Desktop\\Universidad Nacional\\SEXTO SEMESTRE\\COMPUTACIÓN\\R")
os.getcwd()

'C:\\Users\\Usuario\\Desktop\\Universidad Nacional\\SEXTO SEMESTRE\\COMPUTACIÓN\\R'

In [3]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

In [14]:
############################################### PUNTO 1 #############################################

nombres = ["Temporada", "Fecha", "Local", "Visitante", "GolesLocal", "GolesVisitante",
           "Arbitro", "LocalDisparos", "VisitanteDisparos", "LocalDisparosApuerta",
           "VisitanteDisparosApuerta", "LocalFaltas", "VisitanteFaltas",
           "LocalOffsides", "VisitanteOffsides", "LocalAmarillas", "VisitanteAmarillas",
           "LocalRojas", "VisitanteRojas"]

season1415 = pd.read_excel("season-1415.xlsx", sheet_name="season-1415", header=0,
                           usecols=list(range(6)) + list(range(10, 23)),
                           names=nombres,
                           dtype={"Temporada":str, "Local":str, "Visitante":str, "Arbitro":str})

season1516 = pd.read_excel("season-1516.xlsx", sheet_name="season-1516", header=0,
                           usecols=list(range(6)) + list(range(10, 23)),
                           names=nombres,
                           dtype={"Temporada": str, "Local": str, "Visitante": str, "Arbitro": str})

season1617 = pd.read_excel("season-1617.xlsx", sheet_name="season-1617", header=0,
                           usecols=list(range(6)) + list(range(10, 23)),
                           names=nombres,
                           dtype={"Temporada": str, "Local": str, "Visitante": str, "Arbitro": str})

season1718 = pd.read_excel("season-1718.xlsx", sheet_name="season-1718", header=0,
                           usecols=list(range(6)) + list(range(10, 23)),
                           names=nombres,
                           dtype={"Temporada": str, "Local": str, "Visitante": str, "Arbitro": str})

season1819 = pd.read_excel("season-1819.xlsx", sheet_name="season-1819", header=0,
                           usecols=list(range(6)) + list(range(10, 23)),
                           names=nombres,
                           dtype={"Temporada": str, "Local": str, "Visitante": str, "Arbitro": str})

print(season1415.info())
print(season1516.info())
print(season1617.info())
print(season1718.info())
print(season1819.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 380 non-null    object
 1   Fecha                     380 non-null    datetime64[ns]
 2   Local                     380 non-null    object
 3   Visitante                 380 non-null    object
 4   GolesLocal                380 non-null    int64
 5   GolesVisitante            380 non-null    int64
 6   Arbitro                   380 non-null    object
 7   LocalDisparos             380 non-null    int64
 8   VisitanteDisparos         380 non-null    int64
 9   LocalDisparosApuerta      380 non-null    int64
 10  VisitanteDisparosApuerta  380 non-null    int64
 11  LocalFaltas               380 non-null    int64
 12  VisitanteFaltas           380 non-null    int64
 13  LocalOffsides             380 non-null    int64
 14  VisitanteOffsides         380 non-null    int64
 15  LocalAmarillas            380 non-null    int64
 16  VisitanteAmarillas        380 non-null    int64
 17  LocalRojas                380 non-null    int64
 18  VisitanteRojas            380 non-null    int64
dtypes: datetime64[ns](1), int64(14), object(4)
memory usage: 56.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 380 non-null    object
 1   Fecha                     380 non-null    datetime64[ns]
 2   Local                     380 non-null    object
 3   Visitante                 380 non-null    object
 4   GolesLocal                380 non-null    int64
 5   GolesVisitante            380 non-null    int64
 6   Arbitro                   380 non-null    object
 7   LocalDisparos             380 non-null    int64
 8   VisitanteDisparos         380 non-null    int64
 9   LocalDisparosApuerta      380 non-null    int64
 10  VisitanteDisparosApuerta  380 non-null    int64
 11  LocalFaltas               380 non-null    int64
 12  VisitanteFaltas           380 non-null    int64
 13  LocalOffsides             380 non-null    int64
 14  VisitanteOffsides         380 non-null    int64
 15  LocalAmarillas            380 non-null    int64
 16  VisitanteAmarillas        380 non-null    int64
 17  LocalRojas                380 non-null    int64
 18  VisitanteRojas            380 non-null    int64
dtypes: datetime64[ns](1), int64(14), object(4)
memory usage: 56.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 380 non-null    object
 1   Fecha                     380 non-null    datetime64[ns]
 2   Local                     380 non-null    object
 3   Visitante                 380 non-null    object
 4   GolesLocal                380 non-null    int64
 5   GolesVisitante            380 non-null    int64
 6   Arbitro                   380 non-null    object
 7   LocalDisparos             380 non-null    int64
 8   VisitanteDisparos         380 non-null    int64
 9   LocalDisparosApuerta      380 non-null    int64
 10  VisitanteDisparosApuerta  380 non-null    int64
 11  LocalFaltas               380 non-null    int64
 12  VisitanteFaltas           380 non-null    int64
 13  LocalOffsides             380 non-null    int64
 14  VisitanteOffsides         380 non-null    int64
 15  LocalAmarillas            380 non-null    int64
 16  VisitanteAmarillas        380 non-null    int64
 17  LocalRojas                380 non-null    int64
 18  VisitanteRojas            380 non-null    int64
dtypes: datetime64[ns](1), int64(14), object(4)
memory usage: 56.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 380 non-null    object
 1   Fecha                     380 non-null    datetime64[ns]
 2   Local                     380 non-null    object
 3   Visitante                 380 non-null    object
 4   GolesLocal                380 non-null    int64
 5   GolesVisitante            380 non-null    int64
 6   Arbitro                   380 non-null    object
 7   LocalDisparos             380 non-null    int64
 8   VisitanteDisparos         380 non-null    int64
 9   LocalDisparosApuerta      380 non-null    int64
 10  VisitanteDisparosApuerta  380 non-null    int64
 11  LocalFaltas               380 non-null    int64
 12  VisitanteFaltas           380 non-null    int64
 13  LocalOffsides             380 non-null    int64
 14  VisitanteOffsides         380 non-null    int64
 15  LocalAmarillas            380 non-null    int64
 16  VisitanteAmarillas        380 non-null    int64
 17  LocalRojas                380 non-null    int64
 18  VisitanteRojas            380 non-null    int64
dtypes: datetime64[ns](1), int64(14), object(4)
memory usage: 56.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 380 non-null    object
 1   Fecha                     380 non-null    datetime64[ns]
 2   Local                     380 non-null    object
 3   Visitante                 380 non-null    object
 4   GolesLocal                380 non-null    int64
 5   GolesVisitante            380 non-null    int64
 6   Arbitro                   380 non-null    object
 7   LocalDisparos             380 non-null    int64
 8   VisitanteDisparos         380 non-null    int64
 9   LocalDisparosApuerta      380 non-null    int64
 10  VisitanteDisparosApuerta  380 non-null    int64
 11  LocalFaltas               380 non-null    int64
 12  VisitanteFaltas           380 non-null    int64
 13  LocalOffsides             380 non-null    int64
 14  VisitanteOffsides         380 non-null    int64
 15  LocalAmarillas            380 non-null    int64
 16  VisitanteAmarillas        380 non-null    int64
 17  LocalRojas                380 non-null    int64
 18  VisitanteRojas            380 non-null    int64
dtypes: datetime64[ns](1), int64(14), object(4)
memory usage: 56.5+ KB
None

In [ ]:
##################################### PUNTO 2 ###########################################

principals = pd.read_table("https://datasets.imdbws.com/title.principals.tsv.gz", delimiter="\t",
                         nrows=5000, usecols=[0,2,3,4,5],
                         na_values=["", "NA", "\\N"],
                         dtype={"col1": str, "col2": str, "col3": str, "col4": str, "col5": str})


basics = pd.read_table("https://datasets.imdbws.com/title.basics.tsv.gz", delimiter="\t",
                         nrows=5000, na_values=["", "NA", "\\N"])


namess = pd.read_table("https://datasets.imdbws.com/name.basics.tsv.gz", delimiter="\t",
                         nrows=5000, usecols=[0,1,2,3,4],
                         na_values=["", "NA", "\\N"])
print(principals.info())
print(basics.info())
print(namess.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tconst      5000 non-null   object
 1   nconst      5000 non-null   object
 2   category    5000 non-null   object
 3   job         386 non-null    object
 4   characters  2155 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          5000 non-null   object
 1   titleType       5000 non-null   object
 2   primaryTitle    5000 non-null   object
 3   originalTitle   5000 non-null   object
 4   isAdult         5000 non-null   int64
 5   startYear       5000 non-null   int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  2138 non-null   float64
 8   genres          4736 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 351.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nconst             5000 non-null   object
 1   primaryName        5000 non-null   object
 2   birthYear          3696 non-null   float64
 3   deathYear          1091 non-null   float64
 4   primaryProfession  4997 non-null   object
dtypes: float64(2), object(3)
memory usage: 195.4+ KB
None

In [24]:
#################################################### PUNTO 3 #################################################

netflix = pd.read_csv("netflix_titles.csv", delimiter=",", header=0,
                      names=["id", "Tipo", "Titulo", "Director", "Cast", "Pais", "FechaInicio",
                             "AñoRealizacion", "Clasificacion", "Duracion", "Segmentos", "Descripcion"],
                      dtype={"id": str, "Tipo": str, "Titulo": str, "Director": str, "Cast": str,
                             "Pais": str, "FechaInicio": str, "AñoRealizacion": int,
                             "Clasificacion": str, "Duracion": str, "Segmentos": str, "Descripcion": str})

netflix["FechaInicio"] = pd.to_datetime(netflix["FechaInicio"])

print(netflix.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8807 non-null   object
 1   Tipo            8807 non-null   object
 2   Titulo          8807 non-null   object
 3   Director        6173 non-null   object
 4   Cast            7982 non-null   object
 5   Pais            7976 non-null   object
 6   FechaInicio     8797 non-null   datetime64[ns]
 7   AñoRealizacion  8807 non-null   int32
 8   Clasificacion   8803 non-null   object
 9   Duracion        8804 non-null   object
 10  Segmentos       8807 non-null   object
 11  Descripcion     8807 non-null   object
dtypes: datetime64[ns](1), int32(1), object(10)
memory usage: 791.4+ KB
None